/* expense_styles.css */

body {
  margin: 0;
  /* margin: 10px; */
  font-family: 'Roboto', sans-serif;
  background-image: url('/bgImg.jpg'); /* Update the path to your background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #e0e0e0;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.596); /* Adjust the opacity as needed */
  z-index: -1; /* Ensure the overlay is behind other content */
  filter: blur(50px); 
}

.container {
  /* margin: 10px; */
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  padding: 30px;
  /* background: #1e1e1e; */
  background: rgba(30, 30, 30, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-in-out;
}

.left-column, .right-column {
  flex: 1;
  margin: 20px;
}

.left-column {
  margin-right: 40px;
}

.right-column {
  margin-left: 40px;
}

h1, h3, h4 {
  color: #e0e0e0;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.balance, .summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.balance h3, .summary h4 {
  font-size: 18px;
  color: #b0b0b0;
}

.balance h2 {
  font-size: 24px;
  /* color: #e0e0e0; */
}

.balance-green {
  font-size: 24px;
  color: #0fe216;
}

.balance-red {
  font-size: 24px;
  color: #ff1100;
}

.summary div {
  text-align: center;
}

.summary p {
  font-size: 20px;
  color: #e0e0e0;
}

.add-transaction {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.add-transaction input[type="text"],
.add-transaction input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 16px;
  background-color: #333;
  color: #e0e0e0;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radio-group input[type="radio"] {
  margin: 0 10px 0 0;
}

.radio-group label {
  margin-right: 20px;
  font-size: 16px;
}

.add-transaction button {
  padding: 15px;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.add-transaction .expense-button {
  background-color: #f82010;
  /* background-color: #f44336; */
}

.add-transaction .expense-button:hover {
  /* background-color: #e53935;
  box-shadow: 0 0 20px #f44336; */
  background-color: #da0905;
  box-shadow: 0 0 20px #f82010;
}

.add-transaction .income-button {
  background-color: #0fe216;
  /* background-color: #4caf50; */
}

.add-transaction .income-button:hover {
  /* background-color: #45a049; */
  background-color: #12cf1c;
  box-shadow: 0 0 20px #0fe216;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profile-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border: 2px solid #e0e0e0;
}

.sign-out-button {
  padding: 10px 15px;
  background-color: #512dd4;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sign-out-button:hover {
  background-color: #359fe5;
  box-shadow: 0 0 20px #3672f4;
}

.transactions {
  margin-top: 30px;
}

.transactions h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.transactions ul {
  list-style-type: none;
  padding: 0;
}

.transactions li {
  background: #333;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.transactions li:hover {
  transform: scale(1.02);
}

.transactions h4 {
  font-size: 18px;
  margin: 0 0 10px;
}

.transactions p {
  font-size: 16px;
  color: #b0b0b0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
